.product-list-container { /* New container for the grid */
    display: grid;
    width: 100% ;
    grid-template-columns: repeat(auto-fill , minmax(400px, 1fr)); 
    grid-gap: 20px;
    padding: 20px;
  }